<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="/assets/boton_logo.png" alt="Logo" width="200">
      <div id="links" class="container-fluid">
        <a class="navbar-brand p-3" href="#">Home</a>
        <a class="navbar-brand p-3" href="#">Tours</a>
        <a class="navbar-brand p-3" href="#">Contacto</a>
      </div>
    </div>
  </nav>
  
  <div id="fondo" class="container-fluid bg-dark">
    <div id="main" class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h1>El arte de la Astronomía desde tu</h1>
          <div id="mainbutton" class="container">
            <button class="btn btn-primary" (click)="onCrud()">RESERVAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>